{% extends 'agenda/base.html' %}

{% block conteudo %}

<h1>Toda a mulher é única na sua essência, especial no seu conjunto e naturalmente bela. E beleza de mulher é igual a aurora que todo o dia desperta o mundo em sussurro, e como o ocaso que o adormece.

    Beleza de mulher é sublime e rara, é recheio de amor, de carinho. É um conjunto de formas, de curvas e contracurvas onde, com tinta vermelha de paixão, se escreve o conto da criação.
    
    Beleza de mulher é arte, é poesia, são todas as notas da mais bela melodia, são encantos de mistério e loucura onde se guarda a origem da vida.
    
    Beleza de mulher é igual à própria vida, cheia de mistério, de aventura, perigo e sedução.</h1>

{% endblock conteudo %}